*{
     background-color: Yellow;
 }
header h1{
    text-align: center;
}

article{
    width: 410px;
    padding: 10px;
    border: 2px solid #000;
    background-color: red;
    text-align: center;
}
article ul{ 
    padding: 0px;
}
article li {
    
    list-style-type: none;
    list-style-position: inside;
    border: 4px solid #000;
    margin: 8px 0;
    padding: 2px;
    height:40px;
    width: 400px;
    
}

nav{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
mv{
    
}

footer {
    font-size: 12px;
}
