
body { background-image:url('https://drive.google.com/uc?id=0B6Yp-3OGVxpFQWRLWWplREs4ck0');
}
h1{
    float: center;
}

img{
    border: 5px solid #000000;
    padding: 10px;
    margin: auto auto;
}
