/* this is my styles sheet */

#wrapper {
   /* width: 500px;*/
    margin: 30px auto 20px auto;
   /* height: 880px; */
  
}
header {
    width: 100%;
    height: 50px;
    background:#f00000;
    text-align: center;
}
 article-header{
    background:#ffff00;
    text-align: center;
}
nav,aside {
    background: #ffddff;
    width: 140px;
    float: left;
}
li{
    list-style-type: None;
}

article{
    background: #ffffff;
    width: 300px;
    float: left;
 
}

ul#navlist
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}

#navlist li
{
display: inline;
list-style-type: none;
}

#navlist a { padding: 3px 10px; }

#navlist a:link, #navlist a:visited
{
color: #fff;
background-color: #000;
text-decoration: none;
}

#navlist a:hover
{
color: #f00;
background-color: #369;
text-decoration: none;
}
#page-footer {
   clear:left;
    background:#eeeeee;
}
