/* this is my styles sheet */

#wrapper {
   /* width: 500px;*/
    margin: 30px auto 20px auto;
   /* height: 880px; */
    background: #ffff00;
  
}
header {
    width: 100%;
    height: 50px;
    background:#ffdddd;
    text-align: center;
}
 article-header{
    background:#ffffff;
}
nav,aside {
    background: #ffddff;
    width: 140px;
    float: left;
}
li{
    list-style-type: None;
}

article{
    background: #ffffff;
    width: 300px;
    float: left;
}
#page-footer {
   clear:left;
    background:#dddddd;
}
