{
font-family: Times New Roman;
}

ul{
   list-style-type: none;
   text-align: center;
}

header{
    font-size: 20px;
    font-weight: bold;
}
h1{
    font-size: 18px;
}

ul2{
    list-style-type: none;
    clear: left;
}

ul4{
    float: right;
}
ul3{
    float: right;
    list-style-type: none;
}
p1{
    font-weight: bold;
}


