body { background-image:url('https://drive.google.com/uc?id=0B6Yp-3OGVxpFQWRLWWplREs4ck0');
}
h1{
  text-align: center;
  border: 2px solid #000000;
  background-color: blue;
}
img{
    width:  400px;
    height: 400px;
}

 iframe{
  
  width: 400px;
  height:400px;
}

ul#navlist
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
text-align: center;
}

#navlist li
{
display: inline;
list-style-type: none;
}

#navlist a { padding: 3px 10px; }

#navlist a:link, #navlist a:visited
{
color: #fff;
background-color: #000;
text-decoration: none;
}

#navlist a:hover
{
color: #00f;
background-color: #000;
text-decoration: none;
}
